@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/sfondo.JPG);  
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.navbar
{
   width: 85%;
   margin: auto;
   padding: 35px 0;
   display: flex ;
   align-items: center;
   justify-content: space-between;
}
.navbar-brand
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    width: 120px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.navbar-brand:hover
{
    color: #b45b20;
}
.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative ;
}
.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0%;
    background: #b45b20;
    position: absolute; 
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after
{
    width: 100%;
}
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr ));
    grid-gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius:20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}


